$screen-md-min: 768px;

@mixin md {
  @media only screen and (min-width: #{$screen-md-min}) {
      @content;
  }
}

html {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  position: relative;
}

.container {
  padding: 0;
  @include md {
      padding: 0 calc(50vw - 700px);
  }
}

#canvas {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  height: 800px;
  overflow: hidden;
}